.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

div {
  border: 1px solid black;
  padding: 0px;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr;
}

.homepage-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 93vh repeat(3, 100vh);
}

.page {
  display: flex;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.left-navbar-container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 25px;
}

.right-navbar-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-right: 25px;
  align-items: center;
}

.site-navigation {
  display: flex;
  gap: 25px;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  width: 80%;
  min-width: min-content;
}

.auth-form {
  display: flex;
  flex-direction: column;
  border-radius: 0px 15px 15px 0px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px 0px 0px 15px;
}

.login-form {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  height: 100%;
  margin: 30px;
}

.login-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-email-subtitle {
  display: flex;
  margin-bottom: 30px;
  gap: 5px;
}

.login-entry {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.password-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.password-container input {
  grid-column: 1 / -1;
  grid-row: 1;
}

.password-container span {
  user-select: none;
  cursor: pointer;
  grid-column: 2;
  grid-row: 1;
  padding: 0 8px;
  z-index: 1;
}

.login-inputs label {
  font-size: 14px;
}

.login-inputs input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 5px;
}

.login-submit-container {
  display: flex;
  justify-content: flex-end;
}

.login-options {
  font-size: 13px;
}

.login-submit-container button {
  height: 30px;
  padding: 0px 25px 0px 25px;
}

.login-signedin-container {
  display: flex;
}

.login-password-subtitle {
  display: flex;
  gap: 5px;
}

.login-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.login-options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.login-profile-picture {
  background-color: black;
  border-radius: 8px;
}

.login-profile-picture span {
  font-size: 60px;
  color: white;
}

.login-user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-user-details p {
  font-size: 12px;
  color: grey;
}
