:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

div {
  border: 1px solid black;
  padding: 0px;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr;
}

.homepage-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 93vh repeat(3, 100vh);
}

.page {
  display: flex;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.left-navbar-container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 25px;
}

.right-navbar-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding-right: 25px;
  align-items: center;
}

.site-navigation {
  display: flex;
  gap: 25px;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70%;
  width: 70%;
  border-radius: 100px 15px 15px 15px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  border-radius: 0px 15px 15px 0px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px 0px 0px 15px;
}

.login-form {
  display: grid;
  grid-template-rows: 0.3fr 0.7fr 1fr;
  height: 100%;
  margin: 30px;
}

.login-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-subtitle {
  display: flex;
  gap: 5px;
}

.login-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-email {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.login-email label {
  font-size: 14px;
}

.login-email input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 5px;
}

.login-submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.login-submit-container button {
  padding: 5px 15px 5px 15px;
}
